.sidebar {
  background-color: #2B2B2B;
  color: white;
  padding: 20px;
  height: calc(100vh - 60px);
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #3E3E3E;
  overflow: hidden;
}

.overlineOne {
  font-family: var(--font-switzer);
  font-weight: 200;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.4);
}

.overlineTwo {
  font-family: var(--font-switzer);
  font-weight: 300;
  font-size: 32px;
  color: rgba(255, 255, 255, 0.9);
}

.servicesWrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
}

.ctaButton {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  display: flex;
  width: fit-content;
  height: fit-content;
}

.ctaIcon {
  width: 200px;
  height: 60px;
  display: block;
  background-image: url('/cta.svg');
  background-size: contain;
  background-repeat: no-repeat;
  transition: background-image 0.2s ease-in-out;
}

.ctaButton:hover .ctaIcon {
  background-image: url('/ctaActive.svg');
}

.sponsorAndServicesIcon {
  width: 110%;
  height: auto;
  min-height: 135px;
  margin-left: -5%;
  background-image: url('/sponsorAndServices.svg');
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
}

.stageTwo {
  background-image:
    linear-gradient(rgba(43, 43, 43, 0.85), rgba(43, 43, 43, 0.85)),
    url('/Texture.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -20px;
  padding: 24px 20px;
  border-top: 1px solid #3E3E3E;
  margin-top: auto;
}

.stageTwo p {
  font-family: var(--font-switzer);
  font-size: 10px;
  margin: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}

.profileAuthor {
  width: 100%;
  height: 150px;
  margin-top: 6px;
  background-image: url('/profileAuthor.svg');
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}

@media (max-width: 1440px) {
  .sidebar {
    padding: 18px;
  }

  .overlineOne,
  .overlineTwo {
    font-size: 30px;
  }

  .ctaIcon {
    width: 190px;
    height: 57px;
  }

  .sponsorAndServicesIcon {
    min-height: 128px;
  }

  .stageTwo {
    padding: 22px 18px;
    width: calc(100% + 36px);
    margin-left: -18px;
    margin-right: -18px;
    margin-bottom: -18px;
  }

  .profileAuthor {
    height: 142px;
  }
}

@media (max-width: 1280px) {
  .sidebar {
    padding: 16px;
  }

  .overlineOne,
  .overlineTwo {
    font-size: 28px;
  }

  .ctaIcon {
    width: 180px;
    height: 54px;
  }

  .sponsorAndServicesIcon {
    min-height: 121px;
  }

  .stageTwo {
    padding: 20px 16px;
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: -16px;
  }

  .profileAuthor {
    height: 135px;
  }
}

@media (max-width: 1024px) {
  .sidebar {
    padding: 14px;
  }

  .overlineOne,
  .overlineTwo {
    font-size: 26px;
  }

  .ctaIcon {
    width: 170px;
    height: 51px;
  }

  .sponsorAndServicesIcon {
    min-height: 114px;
  }

  .stageTwo {
    padding: 18px 14px;
    width: calc(100% + 28px);
    margin-left: -14px;
    margin-right: -14px;
    margin-bottom: -14px;
  }

  .profileAuthor {
    height: 128px;
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
